*{  
  font-family: Arial;    
  font-size: 10pt;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #0000FF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #0000FF;
	}
a:active { 
	font-weight: bolder; 
	text-decoration: none; 
	color: #0000FF;
	}
a:hover { 
        font-weight: 500;
	text-decoration: underline; 
	color: #5F61FF;
	}

body{
  background-color: #ffffff;
  color: #000000;  
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;  
}


.contenido{   
   border-collapse: collapse; 
   border-style: solid ;
   border-color: #f1f4f7;
}
.boton{   

background-image: url("../images/head.gif");;
font-size: 12px;
font-style: normal;
font-weight: bold;
font-variant: normal;
background-color: #7C97BC;
text-align: center;
cursor: pointer;
margin-right: 4px;
padding: 1px;
height: 20px;
vertical-align: top; /* middle;*/
border: outset 1px;
line-height: normal;
color: #FFFFFF;

}



.cabeceraAzul10pt{  
  color: #ffffff;
  background-color: #030281;  
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}
.cabeceraAzul11pt{  
  color: #ffffff;
  background-color: #030281;  
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
.grid01{
  background-color: #f1f4f7; 
  color: #030281;
 font-weight: bold;
}
.grid03{
  background-color: #f1f4f7; 
  color: #030281;

}
.grid02{
      background-color: #e2e7ed;
  color: #030281;
}
.blanquearFondo{
  background-color: #ffffff;
}
.Titulo08pt{  
  font-size: 10pt;
  color: #000000;
  font-weight: normal;  
}
.Titulo07pt{  
  font-size: 07pt;
}
.TituloB08pt{  
  font-size: 08pt;
 font-weight: bold;  
}
.Titulo10pt{  
  font-size:10pt;
  color: #030281;
  font-weight: bold;  
}
.degradado {
  background-image: url("../images/head.gif");
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-align : center;
  font-weight:bold;

}

.visible 
{
  display:none;
}

.oculto{
  display:block;
}