/*Paginacion*/
#pagination-flickr{
	margin:0 auto; 
	width:300px; 
	margin-top:10px; 
	height: 22px;
}
#pagination-flickr li{
	border:0;
	margin:0;
	padding:0;
	font-size:11px;
	list-style:none;
	font-weight: bold;
	display:inline;
}
#pagination-flickr .previous-off, #pagination-flickr .previous-off a,
#pagination-flickr .next-off, #pagination-flickr .next-off  a  {
	color:#666666;
	display:block;
	float:left;
	font-weight:bold;
	padding:3px 4px;
}
#pagination-flickr .previous-off a, #pagination-flickr .previous-off a:link, #pagination-flickr .previous-off a:visited, #pagination-flickr .previous-off a:hover,
#pagination-flickr .next-off  a, #pagination-flickr .next-off  a:link, #pagination-flickr .next-off  a:visited, #pagination-flickr .next-off  a:hover  {
	display:block;
	float:left;
	font-weight:bold;
	background: none;
	padding:0px;
}
#pagination-flickr .previous-off a:hover,
#pagination-flickr .next-off  a:hover  {
	color:#7AB800;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
	font-weight:bold;
	border:solid 1px #FFFFFF;
} 
#pagination-flickr .active{
	font-weight:bold;
	display:block;
	float:left;
	padding:3px 6px;
}
#pagination-flickr .inactive, #pagination-flickr .inactive:hover{
	font-size:11px;
	font-weight:bold;
	display:block;
	float:left;
	padding:3px;
	height: 15px;
    width: 15px;
	text-align: center;
}
#pagination-flickr .inactive{
	background-image:url(../images/filrk_active.gif);
	background-repeat:no-repeat;
}
#pagination-flickr .inactive:hover{
	background-image:url(../images/filrk_hover.gif);
	background-repeat:no-repeat;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
	color:#004e9b;
	display:block;
	float:left;
	text-decoration:none;
}
/*Paginacion*/