/*PrimeFaces */ 
.footer_faces{
  /*position: fixed; */
  clear: both; 
  width: 100%; 
  height: 15px; 
  bottom: 0; 
  font-size:9px;
  padding: 5px;
  background-color:#FFFFFF;
  text-align:center;
 }
 
 /*Estilos para redondear los bordes de primefaces*/
.ui-corner-all{
    /*border: 1px solid #000000;*/
    /*borde redondos*/
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    border-radius: 4px ;
    -khtml-border-radius: 4px ; /* for old Konqueror browsers */
    border-radius: 4px ;
    behavior: url(PIE.htc);
}

/*Catalogo de imagenes*/
.ui-widget-header .ui-icon {
    background-image: url("../imagenes/ui-icons_222222_256x240.png");

}
 
/*+++++++++Dialogo PopUp++++++++++++*/

.ui-widget-content{/*ajustado*/
    padding: 0px;
    color: #666666;/*anexado para que las letras por defecto salgan en gris*/
}

.ui-widget-content input {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.ui-widget-header { 
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
    border:1px solid #fff;
    /*margenes*/
    margin-right: 0.7em;
    margin-left: 0.4em;
    margin-top: 5px;
    /*color para el texto*/
    color: #fff;
    /*bordes*/
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
     border-radius: 8px 8px 0 0;
    -khtml-border-radius: 8px 8px 0 0; /* for old Konqueror browsers */
    /*fondo*/
    background: #749702;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e));
    background: -webkit-linear-gradient(#749702, #c2e66e);
    background: -moz-linear-gradient(#749702, #c2e66e);
    background: -ms-linear-gradient(#749702, #c2e66e);
    background: -o-linear-gradient(#749702, #c2e66e);
    background: linear-gradient(#749702, #c2e66e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
    behavior: url(../PIE.htc);    
}

.ui-dialog {
    background: #FFF;
    border: 1px solid #DDD;
    overflow: hidden;
    padding: 0.2em;
    position: absolute;
    width: 300px;
}

.ui-dialog .ui-dialog-content {
    padding-top: 0em;
    padding-left: 0.5em;
}

/*x del dialogo*/
.ui-dialog .ui-dialog-titlebar-close span {
    background-position: -80px -128px !important;
}

.ui-dialog .ui-widget-header { 
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.ui-dialog .ui-dialog-title{
    text-align: center;
    width: 100%
}

.ui_rec_gral {/*para el marco interno del dialogo*/
    background: #FFFFFF;
    border: none ;
    float: left;
    height: 97% !important;
    margin-bottom: 0;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    width: 100%;
}

.ui_rec_gral_imprimir{/*para el marco interno del dialogo*/
    width:80%;
    height:auto;
    border: 1px solid #69ae05;
    margin-bottom: 15px;
    padding: 15px;
}

.ui_rec_gral_mensaje{
    padding-left: 5px;
}
/*+++++++++Dialogo PopUp++++++++++++*/

/*+++++++++Tabla Verde (DataTable)++++++++++++++*/
td.ui-state-default, th.ui-state-default {
   /*fondo*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
   border-right: 1px solid #FFFFFF;
   color: #FFFFFF;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 5px;
}
 
.ui-datatable.borderless .ui-datatable-data tr,
.ui-datatable.borderless .ui-datatable-data-empty tr,
.ui-datatable.borderless .ui-datatable-data td,
.ui-datatable.borderless .ui-datatable-data-empty td {
    border-left-style: none;
    border-right-style: none;
}

.ui-datatable-odd{/**/
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:12px !important;
    background-color:#F4F4F4 !important;
    background: #F4F4F4 !important;
}

tr.ui-widget-content {
    border: 1px solid #DDDDDC !important;
}
/*++Paginacion++*/
.ui-paginator .ui-widget-header {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size:12px !important;
    border: 0 !important;
    background: none;
    behavior: none;
    filter: none;
    -ms-filter: none;
}

.paginador-seleccion .ui-widget-header .ui-state-active, .ui-paginator-previous, .ui-paginator-next {
    border: 1px none !important; 
    background: none;
    color: #004E9B;
}

.paginador .ui-widget-header .ui-state-default {
    border: 1px solid #7AB800;
    background: none;
    color: #004E9B;
}
/*++Paginacion+++*/

/*+++++++++Tabla Verde (DataTable)++++++++++++++*/

/*+++++++++BOTON PRIMEFACES++++++++++++++*/
.ui-button{
    background: url("../imagenes/btn_cen.gif") !important;
    border: none !important;
    color: #FFF !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-family: Arial !important;
    padding: 1px 0 1px 10px !important;
    margin: 0px !important;
    height:19px !important;
    text-align: center !important;
    text-decoration: none !important;
    /*bordes*/
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     border-radius: 0px !important;
    -khtml-border-radius: 0px !important; /* for old Konqueror browsers */
}


/*Estilo aplicado para letra en hand over para botones generales primefaces */
.ui-button .ui-button-text .ui-state-hover {
    display: block;
}

.ui-button .ui-button-text {
    display: block;
}

.ui-button-text-only .ui-button-text {
    PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
}

.ui-widget button 
{ font-family: Arial; font-size: 12px; }

.ui-button .ui-state-hover, 
.ui-button .ui-state-focus{
     background: url("../imagenes/btn_cen.gif") !important;
    border: none !important;
    color: #FFF !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-family: Arial !important;
    padding: 1px 0 1px 10px !important;
    margin: 0px !important;
    height:19px !important;
    text-align: center !important;
    text-decoration: none !important;
    /*bordes*/
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     border-radius: 0px !important;
    -khtml-border-radius: 0px !important; /* for old Konqueror browsers */
}

/* removing dotted line on buttons and clickable input elements for Firefox */
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner 
{ border : 0 !important;}
 
/* Remove outline on buttons and clickable input elements for WebKit Browsers & IE8 */
input[type="submit"]:focus, input[type="button"]:focus, input[type="text"]:focus, button,
input:active
{ outline : none !important;}

button[disabled] .ui-button-text{
	text-shadow: 1px 1px 1px #CCCCCC;
    cursor: default;
	color: #595757;
}
/*+++++++++BOTON PRIMEFACES++++++++++++++*/

/*+++++++++++++++Calendario++++++++++++++*/
.ajuste_calendario .ui-state-hover{
    top: 100px;
    vertical-align: top;
    width: 65px;
    background: none !important;
    border: 1px solid #7AB800 !important;
    color: #666;
    border-radius: 0px;
}

.ajuste_calendario .ui-state-focus {
    top: 100px;
    vertical-align: top;
    width: 65px;
    background: none !important;
    border: 1px solid #7AB800 !important;
    color: #666;
    border-radius: 0px;
}

.ui-datepicker{
    border: 1px solid #7AB800 !important ; 
}

/*siguiente en el calendario*/
.ui-datepicker .ui-datepicker-next {
/*url("#{resource['primefaces:themes/sam/images/sprite.png']}")*/
    background-image: url("../imagenes/ui-icons_222222_256x240.png") !important;
    background-position: -46px -190px !important;
}
.ui-datepicker .ui-datepicker-prev {
    background-image: url("../imagenes/ui-icons_222222_256x240.png") !important;
    background-position: -78px -190px !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.6em !important;
    width: 1.6em !important;
    top: 4px !important;
}


.ui-datepicker td span, .ui-datepicker td a {
    border: 1px solid #C2C2C2 !important;
    background: url("images/ui-bg_highlight-hard_98_f0f0f0_1x100.png") repeat-x scroll 50% 50% #F0F0F0;
    color: #000000;
    font-weight: bold;
}

#ui-datepicker-div{
    background: #FFF;
}

.ui-datepicker-calendar .ui-state-hover,.ui-datepicker-calendar .ui-state-focus
{
    border: 1px solid #749702 !important;
}
/*Fecha de hoy*/
.ui-state-default.ui-state-highlight {
    background: none #229BD2;
}
/*Fecha seleccionada*/
.ui-state-default.ui-state-active {
    background:#229BD2;
}
/*+++++++++++++++Calendario++++++++++++++*/

/*+++++++++++++++treetable+++++++++++++++*/
.modulo_app_cuadrado{
    float: left;/*ajustado*/
    width:100%;
    height:100%;/*ajustado 140*/
    margin-top: 15px;
    /*bordes*/
    border: 1px solid #69AE05;
    /*sombra*/
    -webkit-box-shadow: #666 2px 2px 3px;
    -moz-box-shadow: #666 2px 2px 3px;
    box-shadow: #666 2px 2px 3px;
    background: #fff;
    behavior: url(PIE.htc);
}

/*header treetable*/
.modulo_app_cuadrado th{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
    /*color para el texto*/
    color: #fff;
}

/*Para el expandir y contraer del treetable*/
.ui-treetable tr.expanded td .expander {
    background-image: url("../imagenes/flecha_abajo.png");
}
.ui-treetable tr.collapsed td .expander {
    background-image: url("../imagenes/flecha_arriba.png");
}

/*estilo de nodos intermedios para el treetable*/
.parent{
    background-color: #f4f4f4; /*ebffc5*/
    color: #004E9B;
    font-weight: bold;
}
/*+++++++++++++++treetable+++++++++++++++*/

/*****Tooltips******/
.ui-tooltip{
    font-size: 11px;
    background-color: #fff;
     width: auto !important;
    /*bordes*/
    border: 1px solid #AAAAAA !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
    -khtml-border-radius: 6px !important; /* for old Konqueror browsers */
    border-radius: 6px !important;
    behavior: url(PIE.htc)    
}

.ui-icon.ui-icon-seek-prev {
    background-position: -48px -160px !important;
    height: 1.5em  !important;
    top: 4px  !important;
    width: 1.5em  !important;
}
.ui-icon.ui-icon-seek-next {
    background-position: -32px -160px !important;
    height: 1.5em !important;
    top: 4px !important;
    width: 1.5em !important;
}
.ui-icon.ui-icon-seek-first {
    background-position: -80px -160px  !important;
    height: 1.5em !important;
    top: 4px !important;
    width: 1.5em !important;
}
.ui-icon.ui-icon-seek-end { 
	background-position: -64px -160px !important;
    height: 1.5em !important;
    top: 4px !important;
    width: 1.5em !important;
}

/* Pestañas CAI*/
.tab_item {
    color: #666;
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: White;
    font-size: 13pt;
}
.tab_item_roll {
    color: #004E9B;
}
.tab_item_sel {
    color: #690;
}
/* Pestañas CAI*/
/** SOBREESCRIBIR WEL ESTILO DE OPENFACES**/
.o_tabset_rollover_top{
    border-top-color: #690;
}

td.ui-state, th.ui-state {
   /*fondo*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
   border-right: 1px solid #FFFFFF;
   color: #FFFFFF;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   font-weight: bold;
   padding: 2px 0px;
}

