<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="robots" content="noindex">

    <title>Carga de Documentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/loading-bar.css">

    <script src="http://localhost:8094/js/jquery.min.js"></script>
    <script src="http://localhost:8094/js/bootstrap.min.js"></script>
    <script src="http://localhost:8094/js/jquery.cookie.js"></script>
    <script src="http://localhost:8094/js/angular.min.js"></script>
    <script src="http://localhost:8094/js/angular-route.js"></script>
    <script src="http://localhost:8094/js/angular-resource.js"></script>
    <script src="http://localhost:8094/js/xml2json.min.js"></script>
    <script src="http://localhost:8094/js/angular-xml.min.js"></script>
    <script src="http://localhost:8094/js/loading-bar.js"></script>
    <script src="http://localhost:8094/js/jquery-confirm.js"></script>
    <script src="http://localhost:8094/js/soapgateway-module.js"></script>

    <script src="js/cargaDocumentos01.js"></script>

    <style>
        .cuerpo_app {
            padding-left: 0px;
        }
    </style>

</head>

<body style="padding-top:35px;" ng-app="SOAPGateway" ng-controller="Carga">
    <div id="contenido">
        <div id="colPpalUnica">

            <h1>Carga de Documentos</h1>

            <div class="modulo_app">
                <div class="titulo_app txt_izq"><label class="twhiteT">Carga de Documentos</label></div>
                <div class="cuerpo_app">
                    <table width="100%" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <!--------------------- Recaudos Seccion 1 -->
                                    <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" ng-repeat="section in sections">
                                        <!-- Titulo Recaudos Seccion 1 -->
                                        <tr>
                                            <td colspan="8">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="titulo_seccion">{{ section.documents[0].files[0].docoDeTituloSeccion.__text }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="690" border="0" align="center" cellpadding="1" cellspacing="1">
                                                    <!-- Recaudo1 Seccion 1 -->
                                                    <tr ng-repeat="doc in section.documents">
                                                        <td width="5">&nbsp;</td>
                                                        <td width="243" align="right" class="etiqueta_form"><span ng-show="doc.files[0].docdInObligatorio.__text == 1">(<span class="asterisco">*</span>)</span> {{ doc.files[0].dotdDeDocumento.__text }}:</td>
                                                        <td width="270" align="right">
                                                            <form id="form{{ doc.files[0].docdCdSeccion.__text + $index }}" name="{{ doc.files[0].doecNuDocid.__text }}" action="upload" method="POST" enctype="multipart/form-data" ng-submit="upload('file' + doc.files[0].docdCdSeccion.__text + $index, doc)">
                                                                <input id="file{{ doc.files[0].docdCdSeccion.__text + $index }}" type="file" required style="float: left;">
                                                                <!--</td>
                                                            <td width="14" align="left">
                                                                -->
                                                                <input type="image" src="http://localhost:8094/images/ico/attach.png" class="icon_btn" style="float: left;">
                                                            </form>
                                                        </td>
                                                        <td ng-show="doc.loaded" width="22" align="left"><input id="showID" type="image" src="http://localhost:8094/images/ico/img_mas.png" class="icon_btn"></td>
                                                        <td ng-show="doc.loaded" width="20"><input type="image" src="http://localhost:8094/images/ico/eliminar.gif" class="icon_btn" ng-click="deleteFile('form' + doc.files[0].docdCdSeccion.__text + $index, doc)"></td>
                                                        <td ng-show="doc.loaded" width="20"><a href="../visor_doc/Doc?file={{ doc.fileName }}&pms={{ pms }}&aux={{ aux }}"  target="_blank"><img src="http://localhost:8094/images/ico/ico_ver_detalle.png" class="icon_btn"></td>
                                                        <td ng-show="doc.loaded" width="17" align="left"><input type="image" src="http://localhost:8094/images/ico/alerta_peq.png" class="icon_btn"></td>
                                                        <td ng-show="doc.loaded" width="70" align="left"><a class="tooltips" href="#"><img id="help" border="none" class="puntero" src="http://localhost:8094/images/ayuda.gif" title="Información"><span>Esta es una información.</span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="z_izq2">
            <p class="info2">
                <span class="etiqueta_form">(</span><span class="asterisco">* </span>
                <span class="etiqueta_form"> )</span>
                <span class="etiqueta_form"> Datos Obligatorios</span>
            </p>
        </div>



    </div>

    <script>
        $(document).ready(function ()        
        {
            $("#showID").click(function ()
            {
                $("#newID").show();
            });

            $("#showEdoCivil").click(function ()            
            {
                $("#newEdoCivil").show();
            });
            $("#showInforme").click(function ()
            {
                $("#newInforme").show();
            });
            $("#showResultados").click(function ()
            {
                $("#newResultados").show();
            });

            $("#showRecipe").click(function ()
            {
                $("#newRecipe").show();
            });

            $("#showFactura").click(function ()
            {
                $("#newFactura").show();
            });
        });
    </script>
	<div id="loadingScreen" style="position: fixed; top:0; left:0; height: 100%; width: 100%; background-color: white; opacity: 0.5;" loading></div>

</body>

</html>