<!DOCTYPE html>

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="robots" content="noindex">

    <title>Carga de Documentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../autogestiondigitalclientlibs/css/style.css">
    <link rel="stylesheet" type="text/css" href="../autogestiondigitalclientlibs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../autogestiondigitalclientlibs/css/loading-bar.css">

    <script src="../autogestiondigitalclientlibs/js/jquery.min.js"></script>
    <script src="../autogestiondigitalclientlibs/js/bootstrap.min.js"></script>
    <script src="../autogestiondigitalclientlibs/js/jquery.cookie.js"></script>
    <script src="../autogestiondigitalclientlibs/js/angular.min.js"></script>
    <script src="../autogestiondigitalclientlibs/js/angular-route.js"></script>
    <script src="../autogestiondigitalclientlibs/js/angular-resource.js"></script>
    <script src="../autogestiondigitalclientlibs/js/xml2json.min.js"></script>
    <script src="../autogestiondigitalclientlibs/js/angular-xml.min.js"></script>
    <script src="../autogestiondigitalclientlibs/js/loading-bar.js"></script>
    <script src="../autogestiondigitalclientlibs/js/jquery-confirm.js"></script>
    <script src="../autogestiondigitalclientlibs/js/soapgateway-module.js"></script>

    <script src="js/cargaDocumentos01.js"></script>

    <style>
        .cuerpo_app {
            padding-left: 0px;
        }
    </style>

</head>

<body style="padding-top:35px;" ng-app="SOAPGateway" ng-controller="Carga">
    <div id="contenido">
        <div id="colPpalUnica">

            <h1>Carga de Documentos</h1>

            <div class="modulo_app">
                <div class="titulo_app txt_izq"><label class="twhiteT">Carga de Documentos</label></div>
                <div class="cuerpo_app">
                    <table width="100%" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <!--------------------- Recaudos Seccion 1 -->
                                    <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" ng-repeat="section in sections">
                                        <!-- Titulo Recaudos Seccion 1 -->
                                        <tr>
                                            <td colspan="8">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="titulo_seccion">{{ section.documents[0].files[0].docoDeTituloSeccion }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="690" border="0" align="center" cellpadding="1" cellspacing="1" ng-repeat="doc in section.documents">
                                                    <!-- Recaudo1 Seccion 1 -->
                                                    <tr ng-repeat="file in doc.files track by $index">
                                                        <td width="5">&nbsp;</td>
                                                        <td width="25%" align="right" class="etiqueta_form"><span ng-show="file.docdInObligatorio == 1">(<span class="asterisco">*</span>)</span> {{ file.dotdDeDocumento }}:</td>
                                                        <td width="300" align="right">
                                                            <form id="form{{ 'Section' + $parent.$parent.$index + 'Doc' + $parent.$index + 'File' + $index }}" name="{{ file.doecNuDocid }}" action="upload" method="POST" enctype="multipart/form-data" ng-submit="upload('file' + 'Section' + $parent.$parent.$index + 'Doc' + $parent.$index + 'File' + $index, file)">
                                                                <input id="file{{ 'Section' + $parent.$parent.$index + 'Doc' + $parent.$index + 'File' + $index }}" type="file" required style="float: left;" ng-click="unload(file)" >
                                                                <input type="image" src="../autogestiondigitalclientlibs/images/ico/attach.png" class="icon_btn" style="float: left;">
                                                            </form>
                                                        </td>
                                                        <td width="34" align="left"><input ng-class="{ grayscale: !file.loaded || !file.showDuplicateButton }" ng-disabled="!file.loaded || !file.showDuplicateButton" id="showID" type="image" src="../autogestiondigitalclientlibs/images/ico/img_mas.png" class="icon_btn" ng-click="duplicateFile(doc, file)"></td>
                                                        <td width="34" align="left"><input ng-class="{ grayscale: !file.loaded }" ng-disabled="!file.loaded" type="image" src="../autogestiondigitalclientlibs/images/ico/eliminar.gif" class="icon_btn" ng-click="deleteFile('form' + 'Section' + $parent.$parent.$index + 'Doc' + $parent.$index + 'File' + $index, file)"></td>
                                                        <td width="34" align="left"><a ng-show="file.loaded" href="../visor_doc/Doc?id=&file={{ file.filePath }}&pms={{ pms }}&aux={{ aux }}"  target="_blank"><img src="../autogestiondigitalclientlibs/images/ico/ico_ver_detalle.png" class="icon_btn"></a><img ng-show="!file.loaded" ng-class="{ grayscale: !file.loaded }" src="../autogestiondigitalclientlibs/images/ico/ico_ver_detalle.png" class="icon_btn"></td>
                                                        <!--<td ng-show="file.loaded" width="17" align="left"><input type="image" src="../autogestiondigitalclientlibs/images/ico/alerta_peq.png" class="icon_btn"></td>
                                                        <td ng-show="file.loaded" width="70" align="left"><a class="tooltips" href="#"><img id="help" border="none" class="puntero" src="../autogestiondigitalclientlibs/images/ayuda.gif" title="Información"><span>Esta es una información.</span></a></td>-->
                                                        <td width="60" align="left"><a class="tooltips" href="#"><img id="help" border="none" ng-class="{ grayscale: !file.errorMessage }" class="puntero" src="../autogestiondigitalclientlibs/images/ico/alerta_peq.png" ng-attr-title="{{ file.errorMessage }}"><span ng-show="file.errorMessage">{{ file.errorMessage }}</span></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9">&nbsp;</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="z_izq2">
            <p class="info2">
                <span class="etiqueta_form">(</span><span class="asterisco">* </span>
                <span class="etiqueta_form"> )</span>
                <span class="etiqueta_form"> Datos Obligatorios</span>
            </p>
        </div>



    </div>

    <script>
        $(document).ready(function ()        
        {
            $("#showID").click(function ()
            {
                $("#newID").show();
            });

            $("#showEdoCivil").click(function ()            
            {
                $("#newEdoCivil").show();
            });
            $("#showInforme").click(function ()
            {
                $("#newInforme").show();
            });
            $("#showResultados").click(function ()
            {
                $("#newResultados").show();
            });

            $("#showRecipe").click(function ()
            {
                $("#newRecipe").show();
            });

            $("#showFactura").click(function ()
            {
                $("#newFactura").show();
            });
        });
    </script>
	<div id="loadingScreen" style="position: fixed; top:0; left:0; height: 100%; width: 100%; background-color: white; opacity: 0.5;" loading></div>

</body>

</html>