    @charset "utf-8";
	/* CSS Document */
	
	body,h1,h2,h3, frame {
		margin: 0px 0px 0px 0px;
		font-family: arial,verdana, helvetica, sans-serif; 
		font-size: 11px;
	}
	
	img {
		border-style:none;
		text-decoration:none;
	}
	
	.pageSubTitleBlack {
		color:#000000;
		font-family:Arial,Helvetica,sans-serif;
		font-size:9pt;
		font-weight:bold;
		text-decoration:none;
	}


	.frameMain, .bg_footer{
		width: 100%;
	}
	
	.bg_header{
		background-image: url('../images/logoHeader.jpg');
		background-repeat:no-repeat;
		height: 67px;
		vertical-align:sub;				
	}
	
	#header_menu {
		margin-bottom:5px;
		width:100%;
		z-index:999;
	}
        
	#header{
		float:right;
	}

	#greetings, #lastVisitedLabel{
		float:left;
		font-size: 10pt;
    }
	
	#longName, #lastVisited{
		font-weight: bold;
		text-transform: capitalize;
		font-size: 10pt;
    }
	
	.header_menu_item, .headerMenuInformationButton,  .headerMenuConsolidatedButton, .headerMenuOnLineButton, .headerMenuZonaDescargaButton, .headerMenuInformationButton_over,  .headerMenuConsolidatedButton_over, .headerMenuOnLineButton_over, .headerMenuZonaDescargaButton_over{
		background-repeat:no-repeat;
		float:left;
		height: 33px;
		width: 100%;
		font-size: 8pt;
		color: #FFFFFF;
		text-decoration: none;
	}
	.headerMenuInformationButton_selected,  .headerMenuConsolidatedButton_selected, .headerMenuOnLineButton_selected,.headerMenuZonaDescargaButton_selected {
		background-repeat:no-repeat;
		float:left;
		height: 38px;
		width: 100%;
		/*padding-top: 7px; 
		padding-left: 22px;*/
		font-size: 8pt;
		color: #FFFFFF;
		text-decoration: none;
	}
  
  
	.headerMenuInformationButton_selected,  .headerMenuConsolidatedButton_selected, .headerMenuOnLineButton_selected, .headerMenuZonaDescargaButton_selected {
		background-repeat:no-repeat;
		float:left;
		height: 38px;
		width: 100%;
		/*padding-top: 7px; 
		padding-left: 22px;*/
		font-size: 8pt;
		color: #FFFFFF;
		text-decoration: none;
	}
  
	#header_menu .header_menu_left_corner{
		background-image: url('../images/tab/tab_left_corner.gif');
		background-repeat:no-repeat;
		float:left;
		height: 28px;
		width: 5px;
	}
	#header_menu .header_menu_right_corner{
		background-image: url('../images/tab/tab_right_corner.gif');
		background-repeat:no-repeat;
		float:left;
		height: 28px;
		width: 5px;
	}
	#header_menu .header_menu_item_empty{
		background: transparent url('../images/tab/tab_item_empty.gif') repeat-x scroll 0 0;
		float:left;
		height: 33px;
		width: 100%;
		background-position:bottom;
	}

	#header_menu .header_empty{
		background: transparent url('../images/tab/tab_empty.gif') repeat scroll 0 0;
		float:left;
		height: 28px;
		width: 100%;
		color: #007FBD;
		text-align : left;
		vertical-align: middle;
		font-size:12px;
		font-weight:bold;
	}	
	
	#header_menu .header_menu_item{
		background-image: url('../images/tab/tab_item.gif');
	}	
	#header_menu .header_menu_item_over{
		background-image: url('../images/tab/tab_item_over.gif');
		color: #FF5800;
		text-decoration: none;
	}
		
	#header_menu .headerMenuInformationButton{
		background-image: url('../images/tab/tab_informacion.gif');
	}	
	#header_menu .headerMenuInformationButton_over{
		background-image: url('../images/tab/tab_informacion_over.gif');
	}
	#header_menu .headerMenuInformationButton_selected{
		background-image: url('../images/tab/tab_informacion_selected.gif');
	}
		
	#header_menu .headerMenuConsolidatedButton {
		background-image: url('../images/tab/tab_consolidado.gif');
	}	
	#header_menu .headerMenuConsolidatedButton_over {
		background-image: url('../images/tab/tab_consolidado_over.gif');
	}
	#header_menu .headerMenuConsolidatedButton_selected{
		background-image: url('../images/tab/tab_consolidado_selected.gif');
	}
		
	#header_menu .headerMenuOnLineButton{
		background-image: url('../images/tab/tab_enlinea.gif');
	}
	#header_menu .headerMenuOnLineButton_over {
		background-image: url('../images/tab/tab_enlinea_over.gif');
	}
	#header_menu .headerMenuOnLineButton_selected{
		background-image: url('../images/tab/tab_enlinea_selected.gif');
	}
		#header_menu .headerMenuZonaDescargaButton{
		background-image: url('../images/tab/tab_zonaDescarga.gif');
	}	
	#header_menu .headerMenuZonaDescargaButton_over{
		background-image: url('../images/tab/tab_zonaDescarga_over.gif');
	}
	#header_menu .headerMenuZonaDescargaButton_selected{
		background-image: url('../images/tab/tab_zonaDescarga_selected.gif');
	}
		
	#contenedor_superior{
		margin: 0px;
    }
	
	#portal_menu {
		width: 486px;
		height: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-align: right;
		float: right;
    }


	#portal_menu ul{
		height: 10px;
		margin: 0px;
	}
	
	#portal_menu li{
		height: 10px;
		list-style-type: none;
		display:inline;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #004E9B;
		margin-right: 3px;
		margin-left: 3px;
		padding-left: 7px;
	}
	
	#portal_menu li a{
		height: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #004E9B;
		text-decoration: none;
	}
	
	#portal_menu li a:hover{
		height: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #009EE0;
		text-decoration: none;
	}
	
	#portal_menu li a:visited{
		height: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #004E9B;
		text-decoration: none;
	}
		
	#portal_pie_pagina{
	    font-size:9px;
		font-family:Arial, Helvetica, sans-serif; 
		color:#666666;
	}
	
	#portal_copyrigh {
		width: 100%;
		height: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #004E9B;
		text-align: left;
		margin-top: 5px;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #004E9B;
   }
   
   #portal_fecha{
		height: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #666666;
		vertical-align: bottom;
		float: left;
   } 
   
   	#contentFrame{
		margin: 0px 8px 0px 8px;
	}

