<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="robots" content="noindex">
		<title>Visor de Documentos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="ccs/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link rel="stylesheet" type="text/css" href="ccs/style.css">
		<link rel="stylesheet" type="text/css" href="ccs/ms_estilos_2.1.css">
		<link rel="stylesheet" type="text/css" href="ccs/ms_estilos_2.1_estructura.css">
		<link rel="stylesheet" type="text/css" href="ccs/ms_estilos_2.1_formularios.css">
		<link rel="stylesheet" type="text/css" href="ccs/ms_estilos_2.1_tabla.css">
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<style>
			#DocCarousel * {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			} 

			.row {
				margin-right: 10px;
			}
		</style>
		<!-- 		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
		<script src="js/jquery.cookie.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/angular-resource.js"></script>
		<script>
			angular.module("Expediente", ['ngRoute', 'ngResource']).run(function($http) {
				var req = new XMLHttpRequest();
				req.open('GET', document.location, false);
				req.send(null);
				var AuthToken = req.getAllResponseHeaders().split("\n").filter(function(header) {
					return header.indexOf("AuthToken") > -1;
				})[0].split(":")[1].trim();
				$http.defaults.headers.common['Authorization'] = AuthToken;
				//$.cookie('AuthToken');
			}).factory('Documents', function($resource) {
				return $resource("webapi/docs", {}, {
					'query': {
						method: 'GET',
						params: {
							funcionalidad: '@funcionalidad',
							aplicacion: '@aplicacion',
							tpExpediente: '@tpExpediente',
							cdExpediente: '@cdExpediente',
							nuSolicitud: '@nuSolicitud',
							valorRaiz: '@valorRaiz'
						}
					}
				});
			}).controller("Visor", function($scope, Documents) {
				Documents.query({
					funcionalidad: 'VISOR_DOC',
					aplicacion: 'GEST_DOCU',
					tpExpediente: getParameterByName('tpExpediente'),
					cdExpediente: getParameterByName('cdExpediente'),
					nuSolicitud: getParameterByName('nuSol'),
					valorRaiz: getParameterByName('valorRaiz')
				}, function(response) {
					if (response.Envelope.Body.consultarDocumentosRes.poSalida == 0) {
						var id = 0;
						$scope.fileList = response.Envelope.Body.consultarDocumentosRes.poListaConsulta.docoListaConsulta.map(function(file) {
							file.doecNmArchivoFs = encodeURIComponent(file.doecNmArchivoFs);
							file.id = id;
							id++;
							return file;
						});
						$scope.builtree();
					}
				}, function(response) {
					switch (response.status) {
					case 401:
						alert("Acceso no autorizado.");
						break;
					case 404:
						alert("Servicio no disponible.");
						break;
					case 500:
						alert("Error en el servicio.");
						break;
					default:
						alert("Error no controlado.");
						break;
					}
					alert("Redireccionar...");
				});
				$scope.builtree = function() {
					$scope.documents = [];
					$.each($scope.fileList, function(index, doc) {
						if ($.inArray(doc.docdDotdCdDocumento, $scope.documents) === -1) {
							$scope.documents.push(doc.docdDotdCdDocumento);
						}
					});
					$scope.documents = $scope.documents.map(function(docdDotdCdDocumento) {
						return {
							files: $scope.fileList.filter(function(doc) {
								return doc.docdDotdCdDocumento == docdDotdCdDocumento;
							})
						};
					});
					$scope.sections = [];
					$.each($scope.fileList, function(index, doc) {
						if ($.inArray(doc.docdCdSeccion, $scope.sections) === -1) {
							$scope.sections.push(doc.docdCdSeccion);
						}
					});
					$scope.sections = $scope.sections.map(function(docdCdSeccion) {
						return {
							documents: $scope.documents.filter(function(doc) {
								return doc.files[0].docdCdSeccion == docdCdSeccion;
							})
						};
					});
				}
			});

			function getParameterByName(name, url) {
				if (!url) {
					url = window.location.href;
				}
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)")
				  , results = regex.exec(url);
				if (!results)
					return null;
				if (!results[2])
					return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}
		</script>
	</head>
	<body style="padding-top:35px;" ng-app="Expediente" ng-controller="Visor">
		<h1>Visor de Documentos</h1>
		<div class="modulo_app">
			<div class="titulo_app txt_izq">
				<label class="twhiteT">Visor de Documentos</label>
			</div>
			<div class="cuerpo_app">
				<div class="container">
					<div>
						<div class="row" id="DocCarousel">
							<div class="col-sm-6" id="panelDocName">
								<!-- Menu de documentos -->
								<ol class="tree nav">
									<li ng-repeat="section in sections">
										<label for="menu-{{ section.documents[0].files[0].docdCdSeccion }}">
											<strong>{{ section.documents[0].files[0].docoDeTituloSeccion }}</strong>
										</label>
										<input type="checkbox" ng-checked="{{ $index == 0 }}" id="menu-{{ section.documents[0].files[0].docdCdSeccion }}"/>
										<ol>
											<li ng-class="{file: doc.files.length == 1}" ng-repeat="doc in section.documents">
												<a ng-if="doc.files.length == 1" class="nombreDoc" title="{{ doc.files[0].docdToolTip }}" id="carousel-selector-{{ doc.files[0].id }}">{{ doc.files[0].dotdDeDocumento }}</a>
												<div ng-if="doc.files.length > 1">
													<label title="{{ doc.files[0].docdToolTip }}" for="menu-{{ doc.files[0].docdCdSeccion + doc.files[0].docdDotdCdDocumento }}">{{ doc.files[0].dotdDeDocumento }}</label>
													<input type="checkbox" id="menu-{{ doc.files[0].docdCdSeccion + doc.files[0].docdDotdCdDocumento }}"/>
													<ol>
														<li class="file" ng-repeat="file in doc.files">
															<a class="nombreDoc" title="{{ file.docdToolTip }}" id="carousel-selector-{{ doc.id }}">{{ file.dotdDeDocumento }} {{ file.doecNuConsecutivo }}</a>
														</li>
													</ol>
												</div>
											</li>
										</ol>
									</li>
								</ol>
							</div>
							<!-- Visor de documentos -->
							<div class="col-sm-6" id="panelDocDetail">
								<div class="col-xs-12" id="slider">
									<div class="row">
										<div class="col-sm-12" id="carousel-bounding-box">
											<div class="carousel slide" id="myCarousel">
												<!-- Carrusel de Documentos -->
												<div class="carousel-inner">
													<div ng-repeat="file in fileList" class="item base-image" ng-class="{ 'active': $index == 0 }" data-slide-number="{{ $index }}">
														<span>{{ file.dotdDeDocumento }}</span>
														<br>
														<embed ng-attr-src="{{ 'Doc?id=' + file.doecNuDocid + '&file=' + file.doecNmArchivoFs }}" width="100%" height="370px"/>
														<!-- img src="{{ file.url }}" -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="barraIndicadores" style="text-align:center">
				<!-- Indicadores de Navegacion -->
				<!--div class="contenedorInterno"-->
				<div class="paginacion">
					<ul id="pagination-flickr">
						<li data-target="#myCarousel" data-slide="prev" class="previous-off">«Anterior</li>
						<li data-target="#myCarousel" ng-repeat="file in fileList" data-slide-to="{{ $index }}" ng-class="{ 'active': $index == 0 }"><a><div ng-class="{ 'inactive': $index > 0 }">{{ $index + 1 }}</div></a></li>
						<li data-target="#myCarousel" data-slide="next" class="next-off"><a href="#">Siguiente»</a></li>
					</ul>  
				</div>
				<!--/div-->
			</div>
		</div>
		<script>
			jQuery(document).ready(function($) {

				$('#myCarousel').carousel({
					interval: false
				});

				//Handles the carousel thumbnails
				$('[id^=carousel-selector-]').click(function() {
					var id_selector = $(this).attr("id");
					try {
						var id = /-(\d+)$/.exec(id_selector)[1];
						console.log(id_selector, id);
						jQuery('#myCarousel').carousel(parseInt(id));
					} catch (e) {
						console.log('Regex failed!', e);
					}
				});
				// When the carousel slides, auto update the text
				$('#myCarousel').on('slid.bs.carousel', function(e) {
					var id = $('.item.active').data('slide-number');
					$('#carousel-text').html($('#slide-content-' + id).html());
				});
			});
		</script>
	</body>
</html>
