body {
    color: #535353;
    font-family: Arial;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
a:link {
    color: #007AD8;
}
a:visited {
    color: #5C5C5C;
}
a:hover {
    color: #F99313;
}
h1 {
    font-size: 25px;
    font-style: italic;
    color: #535353;
    margin: 0;
    padding: 0 0 15px 0;
}
h2 {
    color: #0171AD;
    font-size: 14px;
    font-style: italic;
}
.titulo_red {
    display: block;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0171AD;
    background-image: url("../imagenes/esq_mod1.png");
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 1px 9px;
}
.titulo_lin {
    background-color: #0171AD;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 6px 9px;
}
#cabecera {
    height: 88px;
    position: relative;
}
#menuLogin {
    padding: 8px 5px;
    position: absolute;
    right: 0;
    top: 0;
}
#menuLogin ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menuLogin li {
    border-left: 1px solid #0065AB;
    float: left;
    margin: 0;
    padding: 0;
}
#menuLogin a {
    color: #0065AB;
    display: block;
    padding: 0 10px;
}
#menu1 {
    height: 29px;
}
#menu1 ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menu1 li {
    float: left;
    margin: 0;
    padding: 0;
}
#menu1 a {
    background-image: url("../imagenes/menu1_off.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 0 6px 20px;
    text-decoration: none;
    width: 146px;
}
#menu1 a:hover {
    background-image: url("../imagenes/menu1_on.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #008DD2;
    font-size: 11px;
    font-weight: normal;
    padding: 13px 0px 3px 20px;
}
#menu2 {
    background-color: #D6D7D9;
    background-image: url("../imagenes/menu2_fondo.gif");
    background-position: right top;
    background-repeat: no-repeat;
    border-top: 1px solid #FFFFFF;
    height: 34px;
}
#menu2 ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menu2 li {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px;
}
#menu2 a {
    border-left: 1px solid #999999;
    color: #0571A6;
    display: block;
    font-size: 11px;
    height: 24px;
    line-height: 12px;
    padding: 5px 8px;
    text-decoration: none;
}
#menu2 a:hover {
    color: #FF6346;
}
#breadcrumbs {
    color: #007AD8;
    font-size: 13px;
    padding: 10px 0 20px 20px;
}
#breadcrumbs a {
}
#breadcrumbs em {
    color: #F99313;
    font-weight: bold;
}
#breadcrumbs a:hover {
    text-decoration: underline;
}
#ayuda {
    position: absolute;
    right: 5px;
    top: 155px;
    width: 30px;
}
#colPpal {
    padding-left: 18px;
}
#colDer {
    padding-right: 10px;
    padding-top: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
}
#logo {
}
#fecha {
    color: #959595;
    font-size: 11px;
    padding: 5px 10px;
}
#idUsuario {
    color: #535353;
    font-size: 14px;
    font-style: italic;
    margin-right: 14px;
    position: static;
    right: 0;
    top: 50px;
}
#idUsuario #nombreUsuario {
    color: #007FBD;
    font-weight: bold;
    text-align: right;
}
#idUsuario #nombreUsuario em {
    color: #535353;
    font-size: 13px;
    font-weight: normal;
}
#idUsuario #nombreClinica {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
select {
    border: 1px solid #B1B8C6;
    color: #000000;
    padding: 2px;
    margin: 0;
    font-family: Arial;
    font-size: 12px;        
}
input {
    border: 1px solid #B1B8C6;
    color: #000000;
    padding: 3px;
    margin: 0;
    font-family: Arial;
    font-size: 12px;
    font-style: inherit;
}

table tr td {
    padding-bottom: 2px;
    padding-left: 0;
}
td, div {
    font-family: Arial;
    font-size: 12px;
}

.etiqueta_form {
    color: #000000;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
}
.etiqueta_chkbx {
    color: #000000;
    font-weight: bold;
    margin-right: 20px;
}
.btn {
    background-image: url("../imagenes/fondo_btn_iz.gif");
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 10px;
    text-align: center;
	margin-left: 5px;
    margin-right: 5px;
    min-width: 20px;	
}
.btn input {
    background-image: url("../imagenes/fondo_btn_der.gif");
    background-position: right top;
    background-repeat: no-repeat;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 4px 10px 5px 0;
    text-align: center;
    text-decoration: none;
}
.btn input:hover {
    color: #F99313;
}
.subtitulo {
    color: #535353;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 0 0 15px 0;
}
.info {
    background-image: url("../imagenes/ico_info.gif");
    background-position: left top;
    background-repeat: no-repeat;
    display: block;
    margin: 30px 0 20px 0;
    padding-left: 32px;
}
.areaInfo .etiquetaInfo {
    color: #000000;
    font-weight: bold;
}
.asterisco {
    color: #FF0000;
    font-weight: bold;
    padding: 0 2px;
}
.alin_der {
    float: right;
}
.alin_cen {
    text-align: center;
}
.negritas {
    color: #000000;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
.naranja {
    color: #FF8A00;
    font-weight: bold;
}
.nota {
    color: #585858;
    font-size: 10px;
}
.transaccionOK {
    font-size: 25px;
    text-align: center;
}
.casoInfo {
    background-color: #FFEBD8;
    border: 1px solid #FF8F16;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 5% 2% 25%;
    width: 60%;
}
.casoInfo p {
    margin: 0 0 8px;
    padding: 0;
}
.etiqueta_azul {
    color: #007AD8;
    font-weight: bold;
}
.lista {
    padding:5px;
    background-repeat:no-repeat;
    background-position:left center;
    list-style:none !important;
    font-weight:bold;
    color:#000000;
}
.lista_gral {
    color: #000000;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 10px;
}
.lista_gral li {
    background-image: url("../imagenes/bull_gral.gif");
    background-position: left center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-left: 10px;
}
.modulo_ppal {
    border-color: #0171AD #C4C4C4 #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
}
.modulo_ppal p {
    margin-left: 10px;
    margin-right: 10px;
}
.tabla_ppal {
    color: #000000;
}
.tabla_ppal th {
    background-color: #0171AD;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    height: 20px;
    padding: 2px;
    text-align: left;
}
.tabla_ppal td {
    border-bottom: 1px solid #DDDDDC;
    border-right: 1px solid #DDDDDC;
    padding: 2px 7px;
}
.tabla_ppal td:first-child {
    border-left: 1px solid #DDDDDC;
}
.tabla_ppal tr.fila_0 {
    background-color: #EAEAEA;
}
.tabla_ppal tr.fila_1 {
    background-color: #FFFFFF;
}
.tabla_ppal th td, .tabla_ppal th td:first-child {
    border: medium none;
    padding: 2px;
}
table.tabla_propiedades tbody tr td:first-child{
    font-weight: bold;
    color: #757575;
}
.tabla_der_1 {
    border: 1px solid #0171AD;
    margin-bottom: 15px;
    padding: 9px;
}
.tabla_der_2 {
    border-bottom: 1px solid #0171AD;
    border-left: 1px solid #0171AD;
    margin-bottom: 15px;
}
.tabla_der_2 td {
    border-right: 1px solid #0171AD;
    padding: 8px;
}
.tabla_der_2 th {
    background-color: #D3E6EF;
    border-right: 1px solid #0171AD;
    padding: 8px;
}
.menu3 {
}
.menu3 ul {
    list-style: none outside none;
    margin: 0;
    padding: 10px 0 0 0;
}
.menu3 li {
    margin: 0;
    padding: 0 0 10px 0;
}
.paginacion {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.paginacion a {
    font-weight: normal;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}
.paginacion .activo {
    padding-left: 4px;
    padding-right: 4px;
}
#calendario {
    border: 1px solid #DADADA;
    color: #929292;
    font-size: 15px;
    height: 185px;
    padding: 5px;
    width: 220px;
}
#calendario .meses {
    color: #0171AD;
}
#calendario .meses a {
    color: #0171AD;
    text-decoration: none;
}
#calendario .semana tr {
    background-color: #0171AD;
    color: #FFFFFF;
    font-size: 18px;
}
#calendario .dias td {
    border: 1px solid #C4C2C2;
    text-align: center;
}
#calendario .dias a {
    color: inherit;
    text-decoration: none;
}
#calendario td.inactivo {
    background-color: #D6D6D6;
}
#calendario td.hoy {
    background-color: #FFD298;
    border: 1px solid #FFA129;
    color: #FFA129;
}
#calendario td.seleccionado {
    background-color: #C3E3F5;
    border: 1px solid #368BB9;
    color: #368BB9;
}
#menu4 {
    border-bottom: 30px solid #0171AD;
    clear: both;
    height: 31px;
}
#menu4 ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    color: #727272;
    float: right;
    font-size: 14px;
    font-style: italic;
    height: 33px;
}
#menu4 li {
    background-image: url("../imagenes/fondo_menu4_off.gif");
    background-repeat: no-repeat;
    float: left;
    margin: 0px 0px 0px 1px;
    padding: 10px 5px 5px 17px;
    width: 140px;
}
#menu4 li a {
    color: #727272;
    display: block;
    text-decoration: none;
}
#menu4 .activo {
    background-image: url("../imagenes/fondo_menu4_on.gif");
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-weight: bold;
}
.listElement {
  background-image:url("../imagenes/white.png");
  background-repeat:no-repeat;
  text-indent: 20px;
}
.minListElement {
  background-image:url("../imagenes/max.png");
  background-repeat:no-repeat;
  background-color: #0171AD;
  cursor: pointer;
  text-indent: 20px;
  color: White;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 15px;
  text-align: left;
  
}
.maxListElement {
  background-image:url("../imagenes/min.png");
  background-repeat:no-repeat;
  background-color: #0171AD;
  cursor: pointer;
  text-indent: 20px;
  color: White;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 15px;
  text-align: left;
  
}
.level2ListElements {
    display: block;
    padding-left: 20px;
}
.level3ListElement {
    display: none;
    padding-left: 40px;
    padding-right: 20px;
}

.tabla_gris{
    background:#eaeaea !important;
    font-family: Arial !important;
    font-size:12px !important;
}

.tabla_gris td {
	background-color: #EAF7FF;
}
.z_izq{
	float:left;
	width:80%;
	margin-left:5px;
}
.z_der{
   float:right;
   width:5%;
}
 div.ms_footer{
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    width:54px;
    font-size: 9px;
    color: Silver;
}

.btn input{
    cursor: pointer;
}

/*sombrear y desabilitar el cursor cuando esta deshabilitado...*/
.btn input:disabled, .btn input:hover:disabled{
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #CCCCCC;
    cursor: default;
}

.btn button{
    cursor: pointer;
}

/*sombrear y desabilitar el cursor cuando esta deshabilitado...*/
.btn button:disabled, .btn button:hover:disabled{
    color: #DDDDDD;
    text-shadow: 1px 1px 1px #CCCCCC;
    cursor: default;
}

*:disabled, *:hover:disabled{
    cursor:default !important;
}

/** blockUI style **/
.blockPage {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#fff;
    opacity:0.8;
    padding: 10px !important;
    border: 1px solid #ccc !important;
    width: 25% !important;
    /*height: 20%;*/
    top: 30% !important; 
}
.blockOverlay {
    background-color:transparent !important;
    opacity:0.1;
}
#blockScreenMessage{
    font-size: 14px !important;
    font-family: Arial !important;
/*    color: #759804;*/
    font-weight: bold;
}
#ajaxDivMessage{
    display: none;
    /*padding-top: 40px;*/
}