/*Estructura*/
#contenido, #contenidoDer{	
	margin-left: auto;
	margin-right: auto;
}
#contenido{
	width:95%;
}
#colPpal, #colPpalUnica {
    padding-left: 18px;
}
#colPpal{
  padding-right:245px;  
}
#colDer {
    position: absolute !important;
    right: 0;
    top: 0;
    width: 230px;
	padding-right: 10px;
    padding-top: 25px;
}
.modulo_ppal {
    border-color: #7AB800;
    border-right: 1px solid #7AB800;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
	width:100%;
}
.modulo_ppal p {
    margin-left: 10px;
    margin-right: 10px;
}
.modulo_der {
    border: 1px solid #7AB800;
    margin-bottom: 15px;
    padding: 9px;
}
.modulo_der table tr td {
	padding: 0;
}

/*CAJA VERDE*/
.caja_verde{
    border: 1px solid #69ae05;
    background:#FFF;
    padding: 5px
}

/*+++++++++++Contenedores++++++++++++++*/
.container{
    width:100%;
    height:auto;
    margin:auto;
    background-repeat:no-repeat;
}

.container_inter_izq{
    height:auto;
    float: left; /*agregado*/
}

.container_inter_der{
    width:80%;
    text-align:center;
    float: left;
    margin-left:1%;
}
/*Estructura*/

/*Encabezado Portal*/
.usuario_portal{
    width:40%;
    margin-left:15px; 
    float: left;
}
.line_gray{
    width:100%;
    height:1px;
    background-color:#666;
	
}
.line_green{
    width:100%;
    height:35px;
    background: #749702; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8 */
    padding-top: 5px;
}
.line_white{
    width:100%;
    height:6px;
    background-color:#fff;
}
.line_orange{
    width:100%;
    height:4px;
    background-color:#ff7400;
    margin-bottom: 5px;
}
.ayuda_portal{
    text-align:center;
    width: 10%;
    float:right;
    padding: 5px;
    background-position: center;
    color: #004E9B;
    padding-top: 7px;
}
/*Encabezado Portal*/

/*Modulos Portal*/
.modulo_verde_peq{
    height:215px;
}

.modulo_verde_grande{
    height:350px;   
}

.modulo_verde{
    width:95%;
    /*margenes*/
    margin: 7.0px 0px 10px 0px ;
    margin-top: 7px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    /*bordes*/
     border: 1px solid #666;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -khtml-border-radius: 15px; /* for old Konqueror browsers */
     /*sombras*/
    -webkit-box-shadow: #666 2px 2px 2px;
    -moz-box-shadow: #666 2px 2px 2px;
    box-shadow: #666 2px 2px 2px;
    /*fondo*/
    background: #749702;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#749702), to(#c2e66e));
    background: -webkit-linear-gradient(#749702, #c2e66e);
    background: -moz-linear-gradient(#749702, #c2e66e);
    background: -ms-linear-gradient(#749702, #c2e66e);
    background: -o-linear-gradient(#749702, #c2e66e);
    background: linear-gradient(#749702, #c2e66e);
    -pie-background: linear-gradient(#749702, #c2e66e);
    behavior: url(PIE.htc);
}

.modulo_azul{
    width:95%;
    height:150px;
    /*margenes*/
    margin-top: 7px;
    /*margin-bottom: 5px;*/
    padding-left:10px;
    padding-right:5px;
    padding-bottom:2px;
    /*bordes*/
    border: 1px solid #666;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -khtml-border-radius: 15px; /* for old Konqueror browsers */
    /*sombras*/
    -webkit-box-shadow: #666 2px 2px 2px;
    -moz-box-shadow: #666 2px 2px 2px;
    box-shadow: #666 2px 2px 2px;
    /*fondo*/
    background: #0F4DBC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0F4DBC), to(#8db9e5));
    background: -webkit-linear-gradient(#0F4DBC, #8db9e5);
    background: -moz-linear-gradient(#0F4DBC, #8db9e5);
    background: -ms-linear-gradient(#0F4DBC, #8db9e5);
    background: -o-linear-gradient(#0F4DBC, #8db9e5);
    background: linear-gradient(#0F4DBC, #8db9e5);
    -pie-background: linear-gradient(#0F4DBC, #8db9e5);
    behavior: url(PIE.htc);
}

.titulo_modulo{
    width:100%;
    height:25px;
    margin:auto;
    padding-top:5px;
    padding-left:5px;
    border-bottom:1px solid #FFF;
    margin-bottom: 5px;
}

.cuerpo_modulo{
    width:99%;
    height:290px;
    margin:auto;
    overflow-x:hidden; 
    overflow-y:auto;
}

.cuerpo_modulo_peq{
    width:100%;
    height:160px;
    margin:auto;
    overflow-x:hidden; 
    overflow-y:auto;
}

.cuerpo_modulo_peq_azul{
    width:99%;
    height:100px;
    margin:auto;
    overflow-x:hidden; 
    overflow-y:auto;
}

.modulo_promocional{
    width:95%;
    height:150px;
    /*margenes*/
    margin-top: 7px;
    margin-bottom: 5px;
    padding-left:10px;
    padding-right:5px;
    padding-bottom:2px;
    /*bordes*/
    border: 1px solid #666;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -khtml-border-radius: 15px; /* for old Konqueror browsers */
    /*sombras*/
    -webkit-box-shadow: #666 2px 2px 2px;
    -moz-box-shadow: #666 2px 2px 2px;
    box-shadow: #666 2px 2px 2px;
    /*fondo*/
    background: #CCC;
    background-color: #CCC;
    text-align: center; 
    behavior: url(PIE.htc);
}

.ic_edit{
   width:80%;
   height:30px;
   background-image:url(../imagenes/icono_edicion.png);
   background-repeat:no-repeat;
   margin-top:-4px;
   padding-left:55px;
   padding-top:5px;  
}
/*Modulos Portal*/

/*Modulos App*/
.modulo_app, .modulo_izquierdo{
    float: left;/*ajustado*/
    width:100%;
    height:100%;/*ajustado 140*/
    margin:auto;
    margin-left: 1%;/*ajustado*/
    margin-top: 15px;
    /*bordes*/
    border: 1px solid #69AE05;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*sombra*/
    -webkit-box-shadow: #666 2px 2px 3px;
    -moz-box-shadow: #666 2px 2px 3px;
    box-shadow: #666 2px 2px 3px;
    background: #fff;
    behavior: url(PIE.htc);
}

.modulo_izquierdo{
	float:right;	
}

.modulo_pest{
    width:99%;
    height:100%;/*ajustado 140*/
    /*bordes*/
    border: 1px solid #69AE05;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*sombra*/
    -webkit-box-shadow: #666 2px 2px 3px;
    -moz-box-shadow: #666 2px 2px 3px;
    box-shadow: #666 2px 2px 3px;
    background: #fff;
    behavior: url(PIE.htc);
}

.modulo_interno{
    width:100%;
    height:140px;
    margin:auto;
    box-shadow: 2px 3px 3px #666;
    border: 1px solid #69ae05;
    background:#FFF;
}

.titulo_app, .sub_titulo_app {
    width: 99,5%;
    height: 25px;
    margin: auto;
    padding-top: 5px;
    padding-left: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #FFF;
}

.titulo_app{
    /*fondo*/
    background: #749702;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e));
    background: -webkit-linear-gradient(top, #749702 0%, #c2e66e 100%);
    background: -moz-linear-gradient(#749702, #c2e66e);
    background: -ms-linear-gradient(top, #749702, #c2e66e);
    background: -o-linear-gradient(top, #749702, #c2e66e);
    background: linear-gradient(to bottom, #749702, #c2e66e);
    -pie-background: linear-gradient(#749702, #c2e66e);
    behavior: url(PIE.htc);
}

.sub_titulo_app {
    background: #A3A3A3;
}

.titulo_interno, .sub_titulo_interno {
    width: 99,5%;
    height: 25px;
    margin: auto;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #FFF;
}

.titulo_interno{
    /*fondo*/
    background: #749702;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e));
    background: -webkit-linear-gradient(top, #749702 0%, #c2e66e 100%);
    background: -moz-linear-gradient(#749702, #c2e66e);
    background: -ms-linear-gradient(top, #749702, #c2e66e);
    background: -o-linear-gradient(top, #749702, #c2e66e);
    background: linear-gradient(to bottom, #749702, #c2e66e);
    -pie-background: linear-gradient(#749702, #c2e66e);
    behavior: url(PIE.htc);
}

.sub_titulo_interno {
    background: #A3A3A3;
}

.cuerpo_app{
    width:100%;
    height:auto;
    padding-left:5px;
    clear: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

.separador {
	width: 100%;
	margin: auto;
	border-bottom: 1px solid #CFCFCF;
	clear: left;
}

.separador_blanco{
    border-right: solid White thin;
}
.separador_verde{
    border-right: solid Green thin;
}
.modulo_tabla{
	clear:left; 
	margin: 15px auto auto 1%;
}
.sin_flotante_izq{
    clear: left;
}
.sin_flotantente_der{
    clear:right;
}
.flotante_izq{
    float:left;
}
.flotante_der{
    float:right;
}
/*Modulos App*/

/*Accesos Directos*/
.acc_dir_izq{
    background-color: #FFFFFF;
    background-image: url("../imagenes/acc_drt_izq.png");
    float:left;
    background-repeat: no-repeat;
    height:25px;
    width:8px;
}

.acc_dir_cent{
    float:left;/*fix for  buggy browsers*/
    width:100%;
    margin-top: 5px;
    background-image: url("../imagenes/acc_drt_centro.png");
    text-align: center;
    height: 25px;
}

.acc_dir_cent input {
    color: #FFFFFF;
    font-size: 12px;
    font-style: normal;
   /* padding: 1px 0 1px 10px;*/
    height:25px;
    text-align: center;
    text-decoration: none;
    background-image: url("../imagenes/acc_drt_centro.png");
    border: 0px;
    float: left;
    
}

.acc_dir_cent input:hover {
    color: #7AB800;
}
.acc_dir_der{
    background-color: #FFFFFF;
    background-image: url("../imagenes/acc_drt_der.png");
    background-repeat: no-repeat;
    float:right;
    text-align: center;
    height:25px;
    width:25px;
}
/*Accesos Directos*/

/*Titulos*/
.top_menu_tabla_formulario_der{
	background-image: url(../imagenes/esquina_verde_der.jpg);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	float: right;
	left: 0px;
	top: 0px;
	color: #7AB800;
	margin-top: -1px;
}	
.top_menu_tabla_formulario_izq{
	background-image: url(../imagenes/esquina_verde_izq.jpg);
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	left: 0px;
	top: 0px;
	color: #7AB800;
	margin-top: -1px;
}
.titulo, .titulo_der, .titulo_peq{
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 auto;
	padding: 5px 0px;
	text-align: center;
	float: left;
	width: 75%;
	height: 16px;
	white-space: nowrap;
}
.titulo{
	padding-left:5%;
}
.titulo{
	font-size: 14px;
}
.tituloPeq{
	font-size: 13px;
}
.titulo_gris_peq{
   color: #666666;
   font-weight: bold;
}
.sombra_titulo, .sombra_titulo_der{
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;	
	padding: 1px 0px;
	height:25px;
	background-color:#7AB800;
}
.sombra_titulo{
	margin-right: -2px;
}

.transaccion_realizada{
  font-family: Arial;
  font-size: 16px; 
  font-weight: bold;
  color: #004E9B;
}

.titulo_gris{
   color: #666666;
   font-weight: bold;
   font-size: 16px;
   padding-left: 15px;
}
/*Titulos*/

/*Buzon de mensajes*/
.mensaje_cerrado{
    background-image:url(../imagenes/c_cerrado.png);
    float: left;
    background-repeat:no-repeat;
    padding-left: 35px;
    text-align: left;
    min-height: 25px;
    max-height: 40px;
    height: auto !important;
    width: 90%;
}
.mensaje_abierto{
    background-image:url(../imagenes/c_abierto.png);
    float: left;
    background-repeat:no-repeat;
    padding-left: 35px;
    text-align: left;
    min-height: 25px;
    max-height: 40px;
    height: auto !important;
    width: 90%;
    padding-top: 2px;
}

.mensaje_importante{
    background-image:url(../imagenes/c_cerrado_importante.png);
    background-color: inherit;
    float: left;
    background-repeat:no-repeat;
    padding-left: 35px;
    text-align: left;
    min-height: 25px;
    max-height: 40px;
    height: auto !important;
    width: 90%;
    margin-top: 0px;/*quitar*/
}
/*Buzon de mensajes*/

/*Migas de pan*/
.migas{
	font-style: italic;
}

/*esto es para cuando necesitamos colocar scroll vertical*/
.scroll_vertical{
    margin:auto;
    overflow-x:hidden; 
    overflow-y:auto;
}
.scroll_no{
    margin:auto;
    overflow-x:hidden; 
    overflow-y:hidden;
    overflow: hidden;
}
.scroll{
    margin:auto;
    overflow-x:auto; 
    overflow-y:auto;
}

/*Zona de Descarga*/
.modulo_servicios {
	background:url(../imagenes/fondo_infoProductos.gif) right no-repeat;
	padding:15px;
	color:#FFF;}
.modulo_servicios p {
	margin:0;
	padding:0;}
.modulo_servicios h3 {
	margin:0;
	padding:0;
	margin-bottom:5px;
	}
.modulo_servicios a {
	color:#FFF;
	text-decoration:none;
}
.icono_servicios {
	padding-bottom: 0px;
}
.icono_servicios img{ 
	height:104px
}
.icono_descarga{
	border:0;
}
/*Zona de Descarga*/

/*Arbol Desplegable*/
.maxListElement, .maxListElementInt {
    /*background-color: #7AB800;
    background-image: url("../imagenes/min.png");
    background-repeat: no-repeat;*/	
    color: White;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    height: 15px;
    text-align: left;
    text-indent: 20px;	    
    background: url("../imagenes/min.png") top left no-repeat;
    background-repeat: no-repeat;
	background: #url("../imagenes/min.png") no-repeat scroll left;
	background: url("../imagenes/min.png") no-repeat scroll left, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: url("../imagenes/min.png") no-repeat scroll left, moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: url("../imagenes/min.png") no-repeat scroll left, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: url("../imagenes/min.png") no-repeat scroll left, -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: url("../imagenes/min.png") no-repeat scroll left, -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: url("../imagenes/min.png") no-repeat scroll left, -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: url("../imagenes/min.png") no-repeat scroll left, linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
    
   
}
.minListElement, .minListElementInt{
    /*background-color: #7AB800;    */
    color: White;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    height: 15px;
    text-align: left;
    text-indent: 20px;	
    background-repeat: no-repeat;
    background: url("../imagenes/max.png") top left no-repeat;
	background: url("../imagenes/max.png") no-repeat scroll left, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0OTcwMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMmU2NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: url("../imagenes/max.png") no-repeat scroll left, -moz-linear-gradient(top, #749702 0%, #c2e66e 100%); /* FF3.6+ */
    background: url("../imagenes/max.png") no-repeat scroll left, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#749702), color-stop(100%,#c2e66e)); /* Chrome,Safari4+ */
    background: url("../imagenes/max.png") no-repeat scroll left, -webkit-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Chrome10+,Safari5.1+ */
    background: url("../imagenes/max.png") no-repeat scroll left, -o-linear-gradient(top, #749702 0%,#c2e66e 100%); /* Opera 11.10+ */
    background: url("../imagenes/max.png") no-repeat scroll left, -ms-linear-gradient(top, #749702 0%,#c2e66e 100%); /* IE10+ */
    background: url("../imagenes/max.png") no-repeat scroll left, linear-gradient(to bottom, #749702 0%,#c2e66e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#749702', endColorstr='#c2e66e',GradientType=0 ); /* IE6-8*/    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#749702, endColorstr=#c2e66e)";
}
.maxListElementInt, .minListElementInt{
	margin-left: 20px;
}
.level2ListElements {
    display: block;
}
.level3ListElement {
    display: none;
    padding-left: 20px;
    padding-right: 10px;
}
.disNone{
	display: none;
}
/*Arbol Desplegable*/

/*Textos*/

.detalle_mensaje{
    width: 630px; 
    height: 250px; 
}
/***Textos Blancos***/
.twhiteT{/*Anexado ML*/
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:14px;
    color:#FFF;
}

.twhite{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFF;
}
        
.twhite a:link{
    color:#FFF;
}

.twhite a:visited{
    color: #004E9B;
}

.twhite a:hover{
    font-weight: bold;
}

.twhiteG{/*Usado para los asesores*/
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
	font-weight:bold;
}

.twhiteG a:hover{
    font-weight: bold;
}

.twhiteG a:link{
    color:#FFF;
}
.twhiteG a:visited{
    color: #004E9B;
}
.twhiteM{
   font-family:Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size:12px;
   color:#FFF;
}
/***Texto Grises****/
.tgray{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666;
}

.tgray a:link{
    color:#666;
}

.tgray a:visited{
    color: #004E9B;
}

.tgray a:hover{
    font-weight: bold;
}
/***texto en verde****/
.tgreen{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#726e20;
}
/*Textos*/
.z_izq , .z_izq2{
    float: left;
    margin-left: 5px;
}
.z_izq {
    width: 80%;
}
.z_izq2 {
    width: 100%;
    text-align: left;
    background-position: left;
}
.z_der, .z_derecha {
    float: right;
}
.z_der {
    width: 5%;
}
.z_derecha {
    text-align: right;
    padding-right: 50px;
}
.y_center{
    vertical-align: middle;
    height: 18px;
}