<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex">
	<title>Solicitud de Reembolso</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="http://localhost:8094/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/jquery-confirm.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/jquery-ui-1.8.20_2.1.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/jquery.autocomplete_2.1.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/jquery.inputfile.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8094/css/loading-bar.css">
	<style>
		.cuerpo_app {
			padding-left: 0px;
		}

		.btn_cent input {
			padding: 0 0 0 10px;
		}
	</style>
	<script src="http://localhost:8094/js/jquery.min.js"></script>
	<script src="http://localhost:8094/js/bootstrap.min.js"></script>
	<script src="http://localhost:8094/js/jquery.cookie.js"></script>
	<script src="http://localhost:8094/js/angular.min.js"></script>
	<script src="http://localhost:8094/js/angular-route.js"></script>
	<script src="http://localhost:8094/js/angular-resource.js"></script>
	<script src="http://localhost:8094/js/xml2json.min.js"></script>
	<script src="http://localhost:8094/js/angular-xml.min.js"></script>
	<script src="http://localhost:8094/js/loading-bar.js"></script>
	<script src="http://localhost:8094/js/jquery-confirm.js"></script>
	<script src="http://localhost:8094/js/soapgateway-module.js"></script>
	
	<script src="js/001_con_buscar_asegurados.js"></script>
</head>

<body style="padding-top:35px; margin-bottom:35px;" ng-app="SOAPGateway" ng-controller="BusquedaAsegurados">
	<form name="BuscarAsegurados" ng-submit="buscarAsegurados()">
		<div id="contenido">
			<div id="colPpalUnica">
				<h1>registro solicitud de reembolso</h1>
				<p style="padding-left:20px;">Introduzca los datos que requiera para realizar la Consulta de Solicitudes</p>
				<div class="modulo_app" id="fieldsetContent">
					<div class="titulo_app txt_izq">
						<label class="twhiteT">Criterios de Búsqueda</label>
					</div>
					<div class="cuerpo_app">
						<table width="99%" align="center">
							<tbody>
								<tr>
									<td>
										<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
											<tr>
												<td>
													<table width="690" border="0" align="center" cellpadding="1" cellspacing="1" style="margin-top:10px; margin-bottom:10px;">
														<tr>
															<td width="242">
																<table width="90%" border="0" align="center" cellspacing="6" cellpadding="1">
																	<tr>
																		<td class="etiqueta_form" width="39%">
																			<span class="asterisco">* </span> Cédula o Pasaporte:

																		</td>
																		<td width="8%" align="left">
																			<select name="nacionalidad" id="nacionalidad" style="width:40px" class="combo-tiny" ng-options="option.rvLowValue.__text as option.rvMeaning.__text for option in nacionalidades" ng-model="soapRequestMessage.Envelope.Body.listarBeneficiariosSolicitudSol.piCdNacionalidad.__text" required>
																				<option selected="selected" value=""></option>
																			</select>
																		</td>
																		<td width="53%" align="left">
																			<input id="BuscarCedPas" class="combo-lg" value="" ng-model="soapRequestMessage.Envelope.Body.listarBeneficiariosSolicitudSol.piNuCedula.__text" required>
																		</td>
																	</tr>
																	<tr style="display:none;">
																		<td class="etiqueta_form" width="39%">Nombre y/o Apellido:</td>
																		<td colspan="2" align="left">
																			<input id="nombreApellido" class="combos">
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						<table width="99%" align="center" ng-show="listaBeneficiarios.length > 0">
							<tbody>
								<tr>
									<td>
										<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
											<tr>
												<td>
													<table id="tabla" cellspacing="0" class="tabla_ppal table-striped" width="95%" align="center" style="margin:20px;">
														<tbody>
															<tr>
																<th width="25%" align="center">Titular / Beneficiario</th>
																<th width="20%" align="center">Cédula / Rif</th>
																<th width="15%" align="center">Fecha de Nacimiento</th>
																<th width="20%" align="center">Sexo </th>
																<th width="5%" align="center">Afectado</th>
															</tr>
															<tr ng-repeat="beneficiario in listaBeneficiarios">
																<td align="left">{{ beneficiario.calbNombreBen.__text }}</td>
																<td align="left">{{ beneficiario.calbCdNacBen.__text }}-{{ beneficiario.calbNuCedBen.__text }}</td>
																<td align="center">{{ beneficiario.calbFeNacBen.__text | date:'dd/MM/yyyy' }}</td>
																<td align="center">{{ beneficiario.calbCdSexo.__text }}</td>
																<td align="center">
																	<input type="radio" name="radio" id="afectado" value="afectado">
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="z_izq2">
				<p class="info2">
					<span class="etiqueta_form">(</span>
					<span class="asterisco">* </span>
					<span class="etiqueta_form">)</span>
					<span class="etiqueta_form">Datos Obligatorios</span>
				</p>
			</div>
		</div>
		<div>
			<table cellspacing="0" cellpadding="0" border="0" align="center" width="360px">
				<tbody>
					<tr>
						<td width="120px" align="right">
							<div class="btn_row">
								<div class="btn_iz" align="center"></div>
								<div class="btn_cent">
									<input type="reset" tabindex="14" value="Limpiar" id="limpiar" class="puntero">
								</div>
								<div class="btn_der"></div>
							</div>
						</td>
						<td width="12px" align="right"></td>
						<td width="120px" align="left">
							<div class="btn_row">
								<div class="btn_iz" align="center"></div>
								<div class="btn_cent">
									<input type="submit" tabindex="14" value="Consultar" id="continuar" class="puntero">
									<!-- onclick="location.href='Reembolso-ListadoAsegurado.html';" -->
								</div>
								<div class="btn_der"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="loadingScreen" style="position: fixed; top:0; left:0; height: 100%; width: 100%; background-color: #a3a3a3; opacity: 0.5;" loading></div>
	</form>
</body>

</html>